parameters:
  level: 9
  paths:
    - DependencyInjection
    - Services
    - Tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    -
      message: '#.*#'
      path: Tests/Services/EntityManager.php
