name: tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit:
    name: PHPUnit tests - PHP ${{ matrix.php }} Symfony ${{ matrix.symfony }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.4']
        symfony: ['^7', '^8']

    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Composer dependencies
        run: |
          sed -i 's/"\^7 || \^8"/\"${{ matrix.symfony }}"/g' composer.json
          composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Run tests
        run: composer test-ci
